.board {
    width: min(750px, 80vw);
    height: min(0.8*750px, 0.8*80vw);
    padding:10px;
    border-radius: 10px;
    background-color: blue;
    box-shadow:1px 1px 15px 2px #000000;
    /* border:1px solid #aaaaaa; */
    margin:auto;
    display:flex;
}
.start_button {
    cursor: pointer;
    background-color: red;
    color:white;
    padding: 10px;
    border-radius: 10px;
    font-size: 4em;
    font-weight: 600;
    margin:auto;
}